<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="pmf.rma.cityexplorerosm.CityExplorerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CityExplorer OSM"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CityExplorerOSM">

        <!-- Onboarding kao prvi ekran -->
        <activity
            android:name="pmf.rma.cityexplorerosm.ui.onboarding.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="pmf.rma.cityexplorerosm.ui.map.MapActivity"
            android:exported="true" />

        <activity
            android:name="pmf.rma.cityexplorerosm.ui.detail.DetailActivity"
            android:exported="false"
            android:label="Detail Activity"
            android:parentActivityName="pmf.rma.cityexplorerosm.ui.map.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pmf.rma.cityexplorerosm.ui.map.MapActivity" />
        </activity>

        <activity
            android:name="pmf.rma.cityexplorerosm.ui.profile.ProfileActivity"
            android:exported="false"
            android:label="@string/profile_title" />


        <activity
            android:name="pmf.rma.cityexplorerosm.ui.auth.AuthActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name="pmf.rma.cityexplorerosm.ui.detail.QrScanActivity"
            android:exported="false" />

        <activity
            android:name="pmf.rma.cityexplorerosm.ui.leaderboard.LeaderboardActivity" />

        <provider
            android:name="pmf.rma.cityexplorerosm.provider.FavoritesProvider"
            android:authorities="pmf.rma.cityexplorerosm.provider.favorites"
            android:exported="true" />

        <service
            android:name="pmf.rma.cityexplorerosm.fcm.AppFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
